.app-contain-principal{
    max-width: 1000px;
    margin: auto;
    margin-top: 3vh;
}

.app-contain-saldos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin-bottom: 20px;
}

.saldo-totalito{
    background: #ffffff;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 16px;
    box-shadow: 0 3px 10px rgb(204, 204, 204);
}

.titulo-ingresado{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(169, 33, 187);
}

.saldo-total{
    font-size: 2rem;
    color: rgb(45, 226, 54);
}

.saldo-total1{
    font-size: 2rem;
    color: rgb(241, 32, 32);
}

.saldo-total2{
    font-size: 2rem;
}