/* Contenedor principal */
.date-container {
    position: relative;
    font-family: Arial, sans-serif;
    width: 250px;
}

/* Contenedor del input y el ícono */
.date-picker-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: 8px;
    padding: 0 10px;
    background: 
        linear-gradient(#13151a, #13151a) padding-box, /* Fondo interno sólido */
        linear-gradient(145deg, #e81cff, #40c9ff) border-box; /* Borde degradado */
    border: 2px solid transparent; /* Necesario para el borde degradado */
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Estilo del input */
.date-picker-toggle {
    flex: 1;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    padding: 10px 0;
    outline: none;
}

/* Ícono */
.date-picker-icon {
    font-size: 1rem;
    transition: transform 0.3s ease;
}

/* Rotación del ícono cuando el calendario está visible */
.date-picker-icon.rotate {
    transform: rotate(180deg);
}

/* Calendario */
.dale-calendario {
    position: absolute;
    top: 120%;
    color: black;
    width: 100%;
    left: 0;
    z-index: 10;
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

/* Cabecera del calendario */
.rdp-caption_label {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.rdp-month_caption{
    font-weight: bold;
    margin: 10px;
}

.rdp-day{
    border-radius: 50%;
}

.rdp-day_button {
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.rdp-day_button:hover{
    color: #0061f2;
    font-weight: bold;
}

.rdp-nav{
    position: absolute;
    display: flex;
    align-items: center;
    height: 2rem;
    right: 10px;
    top: 13px;
}

.rdp-button_previous, .rdp-button_next{
    border: none;
    background: none;
    cursor: pointer;
}

.rdp-day:hover {
    background-color: #90caf9;
    color: #0061f2;
}

/* Animación de fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

/* Evitar bordes visibles de días fuera del rango */
.rdp-day_outside {
    display: none;
}

.rdp {
    position: absolute;
}

.rdp-months {
    display: flex;
    justify-content: center;
}

.rdp-month {
    background: #fff;
    padding: 7px 0 7px 11px;
    border-radius: 10px;
}
