.header {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 0.5rem 1rem; /* Espaciado interno */
}

.header-nav {
    flex: 1; /* Ocupará todo el espacio disponible */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra verticalmente el contenido */
    gap: 1rem; /* Espacio entre los elementos */
}

.header-container-opciones {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espacio entre los enlaces */
    border: 1px solid black;
    border-radius: 16px;
    padding: 0.2rem 1rem;
    margin-left: 3rem;
}

.header-link {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: black;
    cursor: pointer;
}

.header-link-icon {
    margin-right: 8px;
}

.header-link:hover {
    transform: scale(1.05);
}

.header-cont-cerrar {
    margin-left: auto; /* Empuja este elemento al extremo derecho */
}

.cerrar-sesion-btn {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem; /* Ajusta el tamaño del botón */
    border: none;
    width: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.header-perfil-container {
    position: relative; /* Necesario para posicionar el desplegable */
}

.header-desplegable {
    position: absolute;
    top: 100%; /* Muestra el contenido debajo del botón */
    right: 0; /* Alinea el desplegable a la derecha */
    background-color: #fff; /* Fondo blanco para el desplegable */
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    padding: 1rem;
    width: 250px; /* Ancho del desplegable */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.header-desplegable form {
    display: flex;
    flex-direction: column; /* Acomoda los elementos verticalmente */
    gap: 0.5rem; /* Espaciado entre los elementos del formulario */
}

.header-desplegable input,
.header-desplegable button {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 0.5rem; /* Espaciado interno */
    font-size: 1rem; /* Tamaño del texto */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 4px; /* Bordes redondeados */
}

.header-desplegable button {
    background-color: #45a049; /* Color de fondo del botón */
    color: #fff; /* Texto blanco */
    cursor: pointer; /* Indica que es interactivo */
}

.header-desplegable button:hover {
    background-color: #3e8e41; /* Cambia el color al pasar el cursor */
}
