.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5vh 7vw;
    background: white;
    box-shadow: 0 3px 10px rgb(204, 204, 204);
}

.logito {
    width: 200px;
    height: auto;
  }

.header-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container-opciones {
    display: flex;
    align-items: center;
    gap: 5rem;
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 0 1.5rem;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: rgb(169, 33, 187);
    cursor: pointer;
    background: none;
    transition: background 0.5s, border 0.3s;
}

.header-saludo{
    display: flex;
    align-items: center;
}

.header-diamante-icon {
    margin-right: 5px;  /* Espacio entre el icono y el nombre */
    color: #ff00ea;     /* Color dorado para el diamante */
    font-size: 20px;     /* Tamaño del icono */
  }

.header-link:hover {
    background: rgb(255, 165, 255);
    border-radius: 8px;
}

.header-link.active {
    background: rgb(255, 165, 255);
    border-radius: 8px;
    color: rgb(140, 28, 155);
}

.header-perfil-container.active .header-link {
    background: rgb(255, 165, 255);
    color: rgb(140, 28, 155);
    border-radius: 8px;
}

.header-link-icon {
    margin-right: 6px;
}


.header-cont-cerrar {
    margin-left: auto; 
}

.header-perfil-container {
    position: relative;
}

.header-desplegable {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 250px;
    z-index: 1000;
}

.header-desplegable form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header-desplegable input,
.header-desplegable button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.header-desplegable button {
    background-color: #45a049;
    color: #fff;
    cursor: pointer;
}

.header-desplegable button:hover {
    background-color: #3e8e41; 
}
