.login-wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: none;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-height: 600px;
    overflow-y: auto;
    border: 3px solid transparent;
    border-image-source: linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff);
    border-image-slice: 1;
}

.login-header {
    margin-bottom: 20px;
}

.login-logo {
    width: 350px;
    margin: 1rem 0 1rem;
}

.login-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-label {
    font-size: 0.9rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.login-button-submit {
    width: 70%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #9b38dd, #17a2b8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.login-button-submit:hover {
    background: linear-gradient(90deg, #6b2188, #138496);
}

.login-forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 0.85rem;
    color: #000000;
    text-decoration: none;
}

.login-forgot-password:hover {
    text-decoration: underline;
}

.login-button-register {
    width: 40%;
    padding: 12px;
    margin-top: 10px;
    font-size: 0.95rem;
    font-weight: bold;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-button-register:hover {
    background-color: #333;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 10px;
    color: #aaa;
    font-size: 1.1rem;
    pointer-events: none;
    top: 10px;
}

.login-input {
    border-radius: 8px;
    background-color: #f0efef;
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 1rem;
    border: 1px solid rgb(114, 114, 114);
    outline: none;
    transition: border-color 0.3s ease;
}

.login-input:focus {
    border-color: #b700ff;
}

.login-checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.checkbox-label {
    font-size: 0.85rem;
    color: #000000;
    display: flex;
    align-items: center;
}

.checkbox-input {
    margin-right: 5px;
    cursor: pointer;
    accent-color: #8105d4;
}

.login-register-text {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #000000;
}

.register-link {
    cursor: pointer;
    text-decoration: none;
}

.register-link:hover, .login-forgot-password-rr:hover {
    text-decoration: underline;
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.2rem;
    cursor: pointer;
}

.toggle-password:focus {
    outline: none;
}

.login-forgot-password-rr {
    display: block;
    font-size: 0.85rem;
    color: #000000;
    text-decoration: none;
}


